.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  display: flex;
  margin: 5px 0;
}

button {
  margin: 0 10px;
  background-color: cornflowerblue;
  color: #fff;
  border: 3px solid cornflowerblue;
  border-radius: 10px;
  padding: 10px;
  transition: all .2s;
}

.value {
  background-color: rgb(243, 246, 246);
  width: 200px;
  text-align: center;
  line-height: 35px;
  font-size: 30px;
  color: rgb(65, 115, 207);
}

button:hover {
  background-color: #fff;
  color: cornflowerblue;
  border: 3px solid cornflowerblue;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
